<div class="modal-header" align="center">
    <img class="img-circle" id="img_logo" ng-src="/images/imago.jpg">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
</div>

<form name="loginForm" ng-show="showLogin">
    <div class="modal-body">
        <div id="div-login-msg">
            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-login-msg">Type your username and password.</span>
        </div>
        <input id="login_username" name="uname" class="form-control" type="text" placeholder="Username" ng-model="user.username" required>
        <input id="login_password" name="pwd" class="form-control" type="password" placeholder="Password" ng-model="user.password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember me
            </label>
        </div>
    </div>
    <div class="modal-footer" ng-show="showLogin">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="login(user, loginForm)">Login</button>
        </div>
        <div>
            <button id="login_lost_btn" type="button" class="btn btn-link" ng-click="toggleForms('Lost')">Lost Password?</button>
            <button id="login_register_btn" type="button" class="btn btn-link" ng-click="toggleForms('Register')">Register</button>
        </div>
    </div>
</form>

<form name="lostPasswordForm" ng-show="showLost">
    <div class="modal-body">
        <div id="div-lost-msg">
            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-lost-msg">Type your e-mail.</span>
        </div>
        <input id="lost_email" class="form-control" type="text" placeholder="E-Mail" ng-model="user.email" required>
    </div>
    <div class="modal-footer" ng-show="showLost">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="lostPassword(user, lostPasswordForm)">Send</button>
        </div>
        <div>
            <button id="lost_login_btn" type="button" class="btn btn-link" ng-click="toggleForms('Login')">Log In</button>
            <button id="lost_register_btn" type="button" class="btn btn-link" ng-click="toggleForms('Register')">Register</button>
        </div>
    </div>
</form>

<form name="registerForm" ng-show="showRegister">
    <div class="modal-body">
        <div id="div-register-msg">
            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
            <span id="text-register-msg">Register an account.</span>
        </div>
        <input id="register_fname" name="fname" class="form-control" type="text" placeholder="First Name" ng-model="user.firstname" required>
        <input id="register_lname" name="lname" class="form-control" type="text" placeholder="Last Name" ng-model="user.lastname" required>
        <input id="register_username" name="uname" class="form-control" type="text" placeholder="Username" ng-model="user.username" required>
        <input id="register_email" name="email" class="form-control" type="text" placeholder="E-Mail" ng-model="user.email" required>
        <input id="register_password" name="pwd" class="form-control" type="password" placeholder="Password" ng-model="user.password" required>
    </div>
    <div class="modal-footer" ng-show="showRegister">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="register(user, registerForm)">Register</button>
        </div>
        <div>
            <button id="register_login_btn" type="button" class="btn btn-link" ng-click="toggleForms('Login')">Log In</button>
            <button id="register_lost_btn" type="button" class="btn btn-link" ng-click="toggleForms('Lost')">Lost Password?</button>
        </div>
    </div>
</form>