<div>
    <h1>Search</h1>
    <table class="table">
        <thread>
            <th> Type </th>
            <th> Key </th>
            <th> Summary </th>
            <th> Affect Versions </th>
            <th> Assignee </th>
            <th> Reporter </th>
            <th> Priority </th>
            <th> Status </th>
            <th> Resolution </th>
            <th> Created </th>
            <th> Updated </th>
        </thread>
        <tbody>

            <tr ng-repeat="issue in searchresults">
                <td>{{issue.IssueType}}</td>
                <td>
                    <div class="browsetoissue">
                        <a href="#" ng-click="browseToIssue(issue.IKey)"> {{issue.IKey}}</a>
                    </div>
                </td>
                <td>{{issue.Summary}}</td>
                <td>{{issue.AffectVersions}}</td>
                <td>{{issue.ASSIGNEE}}</td>
                <td>{{issue.REPORTER}}</td>
                <td>{{issue.Priority}}</td>
                <td>{{issue.Status}}</td>
                <td>{{issue.Resolution}}</td>
                <td>{{issue.CREATED}}</td>
                <td>{{issue.UPDATED}}</td>
            </tr>
        </tbody>
    </table>
</div>